@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* Dark Mode*/
.app-darkMode {
  background-color: #262626;  
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.app-darkMode .txt-title, .app-darkMode .txt-columnName, .app-darkMode .txtarea-newTask, .app-darkMode .btn-addTask {
  color: #ebebeb;
}

.app-darkMode .txt-title {
  background-color: #262626;
}

.app-darkMode input:focus {
  border-bottom: 1.5px solid #858585;
}

.app-darkMode .column, .app-darkMode .txt-columnName {
  background-color: #454545; 
}

.app-darkMode .txtarea-newTask {
  background-color: #999999;
}

.app-darkMode .txtarea-newTask::placeholder {
  color: #918c8c;
}

.app-darkMode .txtarea-newTask:focus {
  box-shadow: 0px 0px 5px #000000;
}

.app-darkMode .txtarea-newTask {
  background-color: #5c5c5c;
}

.app-darkMode .btn-addTask {
  background-color: #4c82cf;
}

.app-darkMode .btn-addTask:hover {
  background-color: #3c77c9;
}

.app-darkMode .column, .app-darkMode .txtarea_task {
  box-shadow: 2px 5px 5px #000000;
}

.app-darkMode .txtarea_task {
  color: #000000;
  background: #e6c800;
}

body {
  font-family: 'Alata', sans-serif;
  text-align: center;
}

.app {
  background-color: #ffffff;  
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

*:focus {
  outline: none;
}

textarea, button {
  box-sizing: border-box;
}

input:focus {
  border-bottom: 1.5px solid #526dd9;
}

input::placeholder, textarea::placeholder, .heading-noContent  {
  color: #dbd9d9;
}

input, textarea {
  color: #595959;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

ul li {
  margin-top: 5px;
}

textarea {
  border-radius: 5px;
  width: 100%;
  max-width:100%;
}

.heading-noContent {
  margin-top: 60px;
  font-size: calc(15px + 2vw);
}

.txt-title, .txt-columnName {
  text-align: center;
  border-style: none;
}

.txt-title {
  margin-top: 15px;
  font-size: calc(25px + 2vw);
  width: calc(100px + 20vw);
}

.txt-columnName {
  width: 100%;
  font-size: calc(12px + 2vmin);
  background-color: #f2f2f2;
}

.txtarea-newTask {
  border: 1px solid #000000;
  font-size: 20px;
  display: block;
  background-color: #ffffff;
}

.txtarea-newTask:focus {
  box-shadow: 0px 0px 5px #a6aff7;
}

.txtarea_task {
  font-size: 20px;
  resize: auto;
  background-color: #ffe53d;
  animation-name: fadeIn-animation;
  animation-duration: 1s;
}

button {
  cursor: pointer;
  color: #f7f7f7;
  border: 0px;
  margin: 5px;
  border-radius: 5px;
  font-size: 20px;
}

.chk-darkMode {
  justify-self: center; 
  border-radius: 30px;
}

.switch-container {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 60px;
}

input[type="checkbox"] {
  width: 80px;
  height: 30px;
  -webkit-appearance: none;
  background: #d6d6d6;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:before {
  z-index: 1;
  content: '';
  position: absolute; 
  top: -1px;
  border-radius: 20px;
  width: 35px; 
  height: 35px;
  background: #575151;
  transition: 0.5s;
}

input:checked[type="checkbox"]:before {
  transform: translateX(50px);
} 

label {
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  display: inline;
}


.switch-on-text, .switch-off-text{
  pointer-events: none;
  bottom: 30px;
}
.switch-on-text {
  color: #ffffff;
  left: 20px;
}

.switch-off-text {
  right: 20px;
}

.app-darkMode input[type="checkbox"] {
  background: #000000;
}

.app-darkMode input[type="checkbox"]:before {
  background: #ffffff;
}

.btn-deleteColumn, .btn-deleteTask {
  background-color:  #ff674f;
}

.btn-deleteColumn:hover, .btn-deleteTask:hover {
  background-color: #ff4040;
}

.btn-completeTask {
  background-color: skyblue;
}

.column, .txtarea_task {
  box-shadow: 2px 5px 5px #999999;
}

.menu {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.btn-addColumn {
  font-size: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #6366e6;
  justify-self: center;
}

.btn-addColumn:hover {
  background-color: #5459f0;
}

.btn-addTask {
  margin: 10px 0px 10px 0px;
  width: 100%;
  background-color: #8fbeff;
  border-style: none;
}

.btn-addTask:hover {
  background-color: #85b3f2;
}

.btn-prevArrow {
  float: left;
}

.btn-nextArrow, .btn-deleteColumn {
  float: right;
}

.btn-prevArrow, .btn-nextArrow {
  background-color: #92a6a5;
}

.btn-prevArrow:hover, .btn-nextArrow:hover {
  background-color: #627d7c;
}

.btn-completeTask {
  background-color: #61b86d;
}

.btn-completeTask:hover {
  background-color: #2eb13f;
}

.column {
  display: inline-block;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  vertical-align: text-top;
  width: calc(90px + 15vw);
  animation-name: fadeIn-animation;
  animation-duration: 1s;
  position: relative;
  text-align: center;
}

.p-completedTime {
  margin: 0px 0px 15px 0px;
  font-size: 12px;
  animation-name: fadeIn-animation;
  animation-duration: 1s;
}

li:hover .btn-deleteTask, li:hover .btn-nextArrow, li:hover .btn-prevArrow, li:hover .btn-completeTask {
  display: inline-block;
}

.btn-deleteTask, .btn-prevArrow, .btn-nextArrow, .btn-completeTask {
  display: none;
}

@keyframes fadeIn-animation {
  from {opacity: 0;}
  to {opacity:  1;}
}

@media (min-width: 511px) and (max-width: 900px) {
  .column {
    width:calc(80px + 20vw);
  }
}

@media (min-width: 250px) and (max-width: 550px) {
  .column {
    width:calc(140px + 30vw);
  }
}

